body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    background-color: #444;
    justify-content: center;
    padding: 10px;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #555;
}

.container {
    display: flex;
    padding: 20px;
}

.main-content {
    flex: 3;
    background-color: #ffffff;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
